In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv("heart (1).csv")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [25]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [26]:
from sklearn.preprocessing import LabelEncoder
label_encoders={}
for col in df.select_dtypes(include=['object']).columns:
    le=LabelEncoder()
    df[col]=le.fit_transform(df[col])
    label_encoders[col]=le

In [27]:
x=df.drop(columns=['target'])
y=df['target']
# split data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [28]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [29]:
# train with svm
from sklearn.svm import SVC
svm_linear=SVC(kernel='linear',C=1)
svm_linear.fit(x_train,y_train)
y_pred_linear=svm_linear.predict(x_test)

In [30]:
from sklearn.metrics import *
print("confusion matrix :",confusion_matrix(y_test,y_pred_linear))
print("Accuracy :",accuracy_score(y_test,y_pred_linear))

confusion matrix : [[72 30]
 [ 8 95]]
Accuracy : 0.8146341463414634

In [31]:
# train svm with poly kernel
svm_poly=SVC(kernel='poly',degree=3,C=1)
svm_poly.fit(x_train,y_train)
y_pred_poly=svm_poly.predict(x_test)

In [32]:
print("confusion matrix :",confusion_matrix(y_test,y_pred_poly))
print("Accuracy :",accuracy_score(y_test,y_pred_poly))

confusion matrix : [[ 85  17]
 [  2 101]]
Accuracy : 0.9073170731707317

In [33]:
# train svm with rbf kernel
svm_rbf=SVC(kernel='rbf',C=1,gamma='scale')
svm_rbf.fit(x_train,y_train)
y_pred_rbf=svm_rbf.predict(x_test)
print("confusion matrix :",confusion_matrix(y_test,y_pred_rbf))
print("Accuracy :",accuracy_score(y_test,y_pred_rbf))

confusion matrix : [[85 17]
 [ 6 97]]
Accuracy : 0.8878048780487805